* {
    margin: 0;
    font-family: Open Sans;
}

/* Header design*/
p {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.header {
    background: #FFF8F3;
    background-image: url('..//images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 100px;
}

header > nav > ul > h3 {
    display: inline;
    margin: 10px;
}
 
header > nav > ul > li {
    display: inline;
    margin: 50px;
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    cursor: pointer;
    border: 0;
    background: #FD6E0A;
    flex-shrink: 0;
    padding: 15px 35px;
    color: var(--White-Color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.name-color {
    color: #FD6E0A;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Banner */

.banner {
    padding: 200px 10px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
   
}

button > svg {
    flex-shrink: 0;
    color: white;
    padding-right: 5px;
    display: inline-block;
}

.banner-name {
    color: var(--Dark-01, #181818);
    font-size: 85px;

}

.banner .profile-picture {
    width: 500px;
}

/* header design */

/* about me */

main {
    font-family: Open Sans;
    margin: 0 auto;
    text-align: center;
}

.about-me {
    margin: 100px;
    padding: 50px;
    background: #FFF8F3;
    border: 1px solid navy;
    border-radius: 10px;
}

.about-me > .section-title {
    text-align: center;
    padding-bottom: 20px;
}

.about-me > .section-description{
    text-align: center;
}

 .my-data {
    display: flex;
    justify-content: center;
} 

.my-title {
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding: 50px;
}

.skills {
    margin: 100px;
    padding: 50px;
}

.section-title {
    padding: 10px;
}

.section-description {
    padding: 10px;
}

.my-skills {
    display: flex;
}

.skill-title {
    color: var(--Dark-02, #474747);
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    background-color: white;
    margin: 10px;
    text-align: left;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 100px 0px rgba(0, 0, 0, 0.09);
    padding: 10px;
}

.skill-title-h4 {
    font-size: 20px;
}